alabaster==0.7.12
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bokeh==2.0.2
branca==0.4.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coverage==5.1
coveralls==2.0.0
cycler==0.10.0
datascience==0.15.4
decorator==4.4.2
docopt==0.6.2
docutils==0.16
Flask==1.1.2
folium==0.11.0
idna==2.9
imagesize==1.2.0
ipython==7.14.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==8.3.0
numpy==1.18.3
packaging==20.3
pandas==1.0.3
parso==0.7.0
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.7.1
pluggy==0.13.1
prompt-toolkit==3.0.5
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
retrying==1.3.3
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.11.1
stemgraphic==0.9.0
threadpoolctl==2.1.0
tornado==6.0.4
traitlets==4.3.3
typing-extensions==3.7.4.2
urllib3==1.26.5
wcwidth==0.1.9
Werkzeug==1.0.1
xlrd==1.2.0
