<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    ML API
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <style>
    * {
      font-family: 'Roboto', sans-serif;
    }

    .margin-bot {
      margin-bottom: .5rem;
    }

  </style>
  <meta charset=“UTF-8”>
</head>

<body>
<div class="container">
  <div class="card bg-light text-center mt-5">
    <div class="bg-primary card-header text-white">
      <h2 style="text-align: center">
        Predict Alzheimer's-Related Cognitive Impairment
      </h2></div>
    <div class="card-body">
      <form method="post" action="{{ url_for('predict')}}">
        <br>
        <!--User to Input Feature Characteristics-->
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <label for="MF_01">Sex:</label>
            </div>
            <div class="col-sm">
              <select name="MF_01" id="MF_01" class="form-control">
                <option value=""></option>
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm">
              <label for="CDR">Global CDR Score:</label>
            </div>
            <div class="col-sm">
              <select name="CDR" id="CDR" class="form-control">
                <option value=""></option>
                <option value="0">0 (Normal)</option>
                <option value="0.5">0.5 (Questionable)</option>
                <option value="1">1 (Mild Impairment)</option>
                <option value="2">2 (Moderate Impairment)</option>
                <option value="3">3 (Severe Impairment)</option>
              </select>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm">
              <label for="eTIV">Estimated Total Intracranial Volume (eTIV) (cm<sup>3</sup>):</label>
            </div>
            <div class="col-sm">
              <input type="number" id="eTIV" name="eTIV" class="form-control" step=".001"/>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm">
              <label for="nWBV">Normalized Whole Brain Volume (nWBV):</label>
            </div>
            <div class="col-sm">
              <input type="number" id="nWBV" name="mWBV" class="form-control" step=".001"/>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm">
            </div>
          </div>
          <br>
          <input type="submit" value="Predict" class="btn btn-primary mt-2"/>
        </div>
      </form>
      <br>
      <div class="mt-2">
        <label>Predicted Cognitive Status:</label>
        <div class="margin-bot" style="font-weight: bold">{{prediction_text}}</div>
      </div>
    </div>
  </div>
  <p class="text-center mt-5">
  <p align="center" style="color:red"><b>Note: This web application serves as a minimal
    viable product (MVP) to demonstrate the utility of applying machine learning algorithms
    to health data. Information from this application is <u>NOT VALIDATED</u> and
    <u>SHOULD NOT</u> be used in a clinical capacity. The developer does not assume any
    liability for the consequences of using this application. Please see my Github
    repo ("MMSE") for more information.</b>
<br>
  <br>
  <br>
</p>
  <p align="center">Questions or comments? Feel free to contact me via
  <a href="http://www.github.com/kkphd">my Github page.</a></p>
      </div>
<br>
<br>
</body>
  <div class="container">
    <span class="mt-3 text-bold"><u><b>References:</b></u></span>
    <div class="mt-2">
      LaMontagne, P. J., Benzinger, T. L., Morris, J. C., Keefe, S., Hornbeck, R., Xiong, C., ... & Raichle, M. E.
      (2019).
      OASIS-3: longitudinal neuroimaging, clinical, and cognitive dataset for normal aging and Alzheimer disease.
      medRxiv.
      <a href="https://www.medrxiv.org/content/10.1101/2019.12.13.19014902v1">Link</a>
      <br>
      <br>
      <div class="mt-2">
        Marcus, D. S., Fotenos, A. F., Csernansky, J. G., Morris, J. C., & Buckner, R. L. (2010). Open access series of
        imaging studies: longitudinal MRI data in nondemented and demented older adults. Journal of Cognitive
        Neuroscience,
        22(12), 2677-2684. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2895005/">Link</a>
      </div>
</body>
    </div>
    <div>
    </div>
</html>